@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 0;
  padding: 0 0;

  font-weight: normal;
}

.v-btn__overlay{
  /* border-radius: 15px !important;
  height: calc(100% + 6px) !important;
  width: calc(100% + 6px) !important;
  top: -3px !important;
  left: -3px !important; */
  border-radius: 10px !important;
}

a,
.green {
  text-decoration: none;
  color: rgb(255, 145, 0);
  transition: 0.4s;
  border-radius: 10px !important;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(36, 100%, 50%, 0.278);
    border-radius: 10px;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
